* {
    font-family: Georgia, 'Times New Roman', serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.title {
    text-align: center;
    margin: 50px auto;
    font-size: 100px;
    border: 10px dotted darkcyan;
    width: 900px;
    padding: 30px;
    background-color: aqua;
}

.link {
    font-size: 40px;
    padding: 5px;
}

.link a {
    color: darkcyan;
}

.nav {
    margin: 150px 0px 0px 100px;
}

.home {
    padding: 20px 40px;
    font-size: 30px;
    margin: 20px;
    color: black;
    display: block;
    width: 170px;
    text-align: center;
    border-width: 3px;
    text-decoration: none;
}

.recipe {
    text-align: center;
    font-size: 70px;
    margin: 50px auto;
}
